@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4"><img class ="logo"src="/logo.jpg" style="border: 2px solid red; border-radius: 50% ; margin-right: 5%">Bienvenido a WikiDB</h1>
    <h2 style="font-family: Georgia, serif;">🔥Todas las sagas de Dragon Ball🔥</h2>
</div>
<div class="container-fluid p-5" style="background-color: rgba(73, 5, 5, 0.6);;">
  <h4>Sagas: </h4>
  <div class = "row">
@foreach(Saga SagaActual in @ViewBag.listaSagas)
{ 
         <div class= "col-sm-6 mt-4">   
          <div class="card" style="background-color: black;">
            <img class="card-img-top" src="@SagaActual.FotoSaga" alt="">
              <div class="card-body">
                <h5 class="card-title">@SagaActual.Nombre</h5>
                <p class="card-text">Heroe: @SagaActual.Heroe       Villano: @SagaActual.Villano <br/>            Año: @SagaActual.Año</p>
                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#ModalSaga" onclick="VerTemporadas(@SagaActual.IdSaga)">Información</button>
              </div>
            </div>
         </div>   
}
  </div>
  <div class="modal fade" id="ModalSaga" tabindex="-1" role="dialog" aria-labelledby="ModalSaga" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="Titulo"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark" id ="DescripcionSaga">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</body>
