<form class="needs-validation" method="post" action='@Url.Action("ActualizarPersonaje","Home", new {IdPersonaje = @ViewBag.IdPersonaje, IdSaga = @ViewBag.IdSaga})' enctype="multipart/form-data">
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Nombre">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">Genero</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Genero">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="exampleInputEmail1" placeholder="" name="FechaNacimiento">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">Edad</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Edad">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Raza</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Raza">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Poder</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="" name="Poder">
  </div>
   <div class="form-group">
      <label for="inputPlaneta">Planeta</label>
      <select id="inputPlaneta" name="IdPlaneta" class="form-control">
        <option selected>Elegir</option>
          @foreach(Planeta opcionPlaneta in @ViewBag.listaPlanetas)
          {
           <option value=@opcionPlaneta.IdPlaneta>
            @opcionPlaneta.NombrePlaneta
           </option>
          }
      </select>
  <div class="form-group">
    <label for="exampleFormControlFile1">Cambiar Foto</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="ArchivoFoto">
  </div>
<button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>